---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: blakeshome
  namespace: &namespace home
spec:
  interval: 1h
  url: https://blakeblackshear.github.io/blakeshome-charts
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
  namespace: &namespace home
spec:
  interval: 30m
  chart:
    spec:
      chart: frigate
      version: 7.8.0
      sourceRef:
        kind: HelmRepository
        name: blakeshome
        namespace: *namespace
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: ghcr.io/blakeblackshear/frigate
      # tag: 0.16.2
      # Settings for AMD 780M GPU
      tag: 0.16.2-rocm

    env:
      TZ: Europe/London
      # Settings for AMD 780M GPU
      LIBVA_DRIVER_NAME: radeonsi
      HSA_OVERRIDE_GFX_VERSION: 11.0.2

    envFromSecrets:
      - frigate-secret

    resources:
      # claims:
      #   - name: i915
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        memory: 8Gi
        # Settings for AMD 780M GPU
        amd.com/gpu: 1

    securityContext:
      capabilities:
        add:
          - PERFMON
      runAsUser: 0
      runAsGroup: 0
      runAsNonRoot: false
      seccompProfile: { type: RuntimeDefault }

    persistence:
      config:
        enabled: true
        existingClaim: frigate
      media:
        enabled: true
        existingClaim: frigate-media

    config: |
      mqtt:
        host: mosquitto.home.svc.cluster.local

      ffmpeg:
        hwaccel_args: preset-vaapi
        output_args:
          record: preset-record-generic-audio-copy

      tls:
        enabled: false

      notifications:
        enabled: true
        email: judahrand+frigate@gmail.com

      model:
        path: plus://ac97080e9fcaf057b04ecb8447b2b140

      detectors:
        openvino_0:
          type: openvino
          device: GPU
        openvino_1:
          type: openvino
          device: GPU
        openvino_2:
          type: openvino
          device: GPU

      logger:
        default: info

      semantic_search:
        enabled: true
        model_size: small

      review:
        alerts:
          labels:
            - car
            - person
            - motorcycle
            - truck

      objects:
        track:
          - amazon
          - bicycle
          - bird
          - bus
          - car
          - cat
          - dog
          - dhl
          - dpd
          - face
          - fedex
          - fox
          - license_plate
          - motorcycle
          - package
          - person
          - truck
          - ups
        filters:
          amazon:
            min_score: .75
          bicycle:
            min_score: .65
          bird:
            min_score: .7
            threshold: .8
          bus:
            min_score: .65
            threshold: .85
          car:
            min_score: .65
            threshold: .85
          cat:
            min_score: .65
            threshold: .8
          dog:
            min_score: .7
            threshold: .8
          dhl:
            min_score: .75
          dpd:
            min_score: .75
          face:
            min_score: .7
          fedex:
            min_score: .75
          fox:
            min_score: .65
            threshold: .8
          license_plate:
            min_score: .6
          motorcycle:
            min_score: .65
            threshold: .85
          package:
            min_score: .65
            threshold: .9
          person:
            min_score: .65
            threshold: .85
          truck:
            min_score: .65
            threshold: .85
          ups:
            min_score: .75

      snapshots:
        enabled: true
        retain:
          default: 90

      record:
        enabled: true
        retain:
          days: 0
          mode: all
        alerts:
          pre_capture: 30
          post_capture: 30
          retain:
            days: 30
            mode: motion
        detections:
          pre_capture: 30
          post_capture: 30
          retain:
            days: 30
            mode: motion

      audio:
        enabled: true
        listen:
          - bark
          - car_alarm
          - fire_alarm
          - glass
          - honk
          - scream
          - speech
          - yell

      go2rtc:
        streams:
          doorbell_cam:
            - ffmpeg:http://reolink.iot/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={FRIGATE_REOLINK_USER}&password={FRIGATE_REOLINK_PASSWORD}#video=copy#audio=copy#audio=opus
            - rtsp://reolink_ip/Preview_01_sub
            # - rtsp://{FRIGATE_REOLINK_USER}:{FRIGATE_REOLINK_PASSWORD}@reolink.iot:554/Preview_01_main
            # - ffmpeg:doorbell_cam#video=copy#audio=copy#audio=opus
          doorbell_cam_sub:
            - ffmpeg:http://reolink.iot/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user={FRIGATE_REOLINK_USER}&password={FRIGATE_REOLINK_PASSWORD}
            # - rtsp://{FRIGATE_REOLINK_USER}:{FRIGATE_REOLINK_PASSWORD}@reolink.iot/Preview_01_sub
            # - ffmpeg:doorbell_cam#audio=aac
          webrtc:
            candidates:
              - homeassistant.local:8555
              - stun:8555

      cameras:
        doorbell_cam:
          webui_url: http://reolink.iot
          audio:
            enabled: true
          ffmpeg:
            inputs:
              - path: rtsp://127.0.0.1:8554/doorbell_cam?video=copy&audio=aac
                input_args: preset-rtsp-restream
                roles:
                  - record
              - path: rtsp://127.0.0.1:8554/doorbell_cam_sub?video=copy&audio=aac
                input_args: preset-rtsp-restream
                roles:
                  - audio
                  - detect
          detect:
            width: 640
            height: 480
            fps: 7
          zones:
            driveway:
              coordinates: 166,303,383,339,373,480,0,480,0,329
              objects:
                - person
                - cat
                - dog
            driveway_entrance:
              coordinates: 213,289,365,309,369,328,198,301
              objects:
                - car
                - truck
          motion:
            threshold: 25
            mask: 0.641,0,0.636,0.06,0.345,0.06,0.347,0
          review:
            alerts:
              required_zones:
                - driveway
                - driveway_entrance
            detections:
              required_zones:
                - driveway
                - driveway_entrance

      camera_groups:
        Driveway:
          order: 1
          icon: LuCar
          cameras: doorbell_cam

  # postRenderers:
  #   - kustomize:
  #       patches:
  #         - patch: |-
  #             - op: add
  #               path: /spec/template/spec/resourceClaims
  #               value:
  #                 - name: i915
  #                   resourceClaimTemplateName: frigate
  #           target:
  #             group: apps
  #             version: v1
  #             kind: Deployment
  #             name: frigate
