
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
              k8s.v1.cni.cncf.io/networks: |
                [{
                  "name":"iot",
                  "namespace": "network",
                  "ips": ["10.0.60.87/24"],
                  "mac": "a0:41:a7:f2:2e:fe"
                }]

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.5.3
            env:
              TIMEZONE: Europe/London
              UV_NO_CACHE: "true"
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
              sysctls:
                - name: net.ipv6.conf.net1.forwarding
                  value: "0"
                - name: net.ipv6.conf.net1.accept_ra
                  value: "1"
                - name: net.ipv6.conf.net1.accept_ra_rt_info_max_plen
                  value: "64"
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
              limits:
                memory: 4Gi

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.104.3@sha256:8a4f9ec985bcb022de1ae70fab74e3a2c3199b2bc44665df6da203c3ada1643a
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: &hass-port 8123
          code-server:
            port: &code-port 12321

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.judahrand.net"
          - homeassistant.judahrand.net
          - hass.judahrand.net
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *hass-port

      code-server:
        hostnames:
          - hass-code.judahrand.net
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: app
                port: *code-port

    persistence:
      config:
        existingClaim: home-assistant
        globalMounts:
          - path: /config

      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp

      deploy-key:
        type: secret
        name: home-assistant-secret
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh/id_ed25519
            subPath: GH_DEPLOY_KEY
          - path: /root/.ssh/known_hosts
            subPath: GH_KNOWN_HOSTS
