---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vikunja
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      vikunja:
        forceRename: vikunja
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          main:
            image:
              repository: docker.io/vikunja/vikunja
              tag: 1.0.0
            env:
              VIKUNJA_FILES_BASEPATH: /files
              VIKUNJA_SERVICE_ENABLECALDAV: false
              VIKUNJA_SERVICE_ENABLELINKSHARING: false
              VIKUNJA_SERVICE_ENABLEREGISTRATION: false
              VIKUNJA_SERVICE_PUBLICURL: https://vikunja.judahrand.net/
            envFrom:
              - secretRef:
                  name: vikunja-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 192Mi
              limits:
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: vikunja
        ports:
          http:
            port: &port 3456

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.judahrand.net"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        existingClaim: vikunja
        advancedMounts:
          vikunja:
            main:
              - path: /files
                subPath: files
