---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      main:
        replicas: 1

        containers:
          main:
            image:
              repository: jellyfin/jellyfin
              tag: 10.11.3

            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi
                squat.ai/dri: 1

    service:
      main:
        type: LoadBalancer
        controller: main
        ports:
          http:
            port: &httpPort 8096
          discovery:
            port: 7359
            protocol: UDP

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.judahrand.net"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: main
                port: *httpPort

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /cache

      media:
        type: nfs
        server: truenas.lan
        path: /mnt/main/media/Library
        globalMounts:
          - path: /media/Library

      config:
        existingClaim: jellyfin
        globalMounts:
          - path: /config
