---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: external-dns-technitium
  namespace: &namespace network
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 1.19.0
  url: oci://ghcr.io/home-operations/charts-mirror/external-dns
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-technitium
  namespace: &namespace network
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-dns-technitium
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    provider:
      name: rfc2136
    env:
      - name: LOG_LEVEL
        value: debug
      - name: "EXTERNAL_DNS_RFC2136_TSIG_SECRET"
        valueFrom:
          secretKeyRef:
            name: &secret external-dns-technitium-secret
            key: rfc2136-tsig-secret
      - name: "EXTERNAL_DNS_RFC2136_TSIG_KEYNAME"
        valueFrom:
          secretKeyRef:
            name: *secret
            key: rfc2136-tsig-keyname
      - name: "EXTERNAL_DNS_RFC2136_HOST"
        valueFrom:
          secretKeyRef:
            name: *secret
            key: rfc2136-host
      - name: "EXTERNAL_DNS_RFC2136_PORT"
        valueFrom:
          secretKeyRef:
            name: *secret
            key: rfc2136-port
    extraArgs:
      - --rfc2136-zone=judahrand.net
      - --rfc2136-tsig-secret-alg=hmac-sha256
      - --rfc2136-tsig-axfr
    policy: sync
    sources: ["gateway-httproute", "service"]
    txtOwnerId: main
    txtPrefix: k8s.main.
    domainFilters:
      - judahrand.net
      - internal
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    resources:
      requests:
        cpu: 5m
        memory: 64Mi
      limits:
        memory: 128Mi
