machine:
  network:
    hostname: k8s-0
    interfaces:
      - interface: bond0
        bond:
          interfaces:
              - enp2s0
              - enp3s0
          mode: active-backup
        vlans:
          - routes: []
            dhcp: true
            vlanId: 60
            mtu: 1500
            dhcpOptions:
              routeMetric: 4096
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vip:
          ip: 10.0.42.120
  install:
    diskSelector:
      model: WD_BLACK SN770 1TB
    image: factory.talos.dev/installer/52fe5b7031b19d5c1c5506b0398db69aca2ba51ca4104a2208cfe5368ec18ebf:{{ ENV.TALOS_VERSION }}
    extraKernelArgs:
      - apparmor=0                          # Less security, faster puter
      - init_on_alloc=0                     # Less security, faster puter
      - init_on_free=0                      # Less security, faster puter
      - mitigations=off                     # Less security, faster puter
      - security=none                       # Less security, faster puter
      - talos.auditd.disabled=1             # Less security, faster puter
    wipe: false
  nodeLabels:
    amd.feature.node.kubernetes.io/gpu: "true"
