machine:
  type: controlplane
  network:
    hostname: k8s-2
    interfaces:
      - interface: bond0
        bond:
          interfaces:
              - enp1s0
          mode: active-backup
        vlans:
          - vlanId: 60
            dhcp: true
            mtu: 1500
            dhcpOptions:
              routeMetric: 4096
          - vlanId: 70
            dhcp: false
            mtu: 1500
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
        vip:
          ip: 10.0.42.120
  install:
    diskSelector:
      model: HighRel 512GB SSD
    image: factory.talos.dev/installer/e0b8fa3ae9d1c34d1cca4a94deafffc6c13b293bce113a14a222b9e6e9f09738:{{ ENV.TALOS_VERSION }}
    extraKernelArgs:
      - -init_on_alloc                      # Less security, faster puter
      - -init_on_free                       # Less security, faster puter
      - -selinux                            # Less security, faster puter
      - apparmor=0                          # Less security, faster puter
      - init_on_alloc=0                     # Less security, faster puter
      - init_on_free=0                      # Less security, faster puter
      - mitigations=off                     # Less security, faster puter
      - security=none                       # Less security, faster puter
      - talos.auditd.disabled=1             # Less security, faster puter
      - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
      - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
    wipe: false
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
