---
machine:
  type: controlplane
  network:
    hostname: k8s-2
    interfaces:
      - interface: bond0
        bond:
          interfaces:
              - enp1s0
          mode: active-backup
        vlans:
          - vlanId: 60
            dhcp: false
            mtu: 1500
          - vlanId: 70
            dhcp: false
            mtu: 1500
        dhcp: true
        dhcpOptions:
          routeMetric: 1024
  install:
    diskSelector:
      model: HighRel 512GB SSD
    image: factory.talos.dev/metal-installer/7cd88bcfecc09f2f5f6e04d8248676d7fc5dc215e6b3b405cca8c8381d176f53:v1.11.5
    wipe: false
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
# ---
# apiVersion: v1alpha1
# kind: UserVolumeConfig
# name: local-hostpath
# provisioning:
#   diskSelector:
#     match: disk.model == "HighRel 512GB SSD"
#   minSize: 384GB
