---
machine:
  type: controlplane
  install:
    diskSelector:
      model: HighRel 512GB SSD
    image: factory.talos.dev/metal-installer/c57d7db6d46b10329ac04a0d74a7a80eb7361faf2e7f4b0ea6008e2ae5067781:v1.12.6
    wipe: false
  nodeLabels:
    topology.kubernetes.io/zone: m
    intel.feature.node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp1s0
bondMode: active-backup
mtu: 1500
# ---
# apiVersion: v1alpha1
# kind: LinkAliasConfig
# name: net0
# selector:
#   match: link.driver == "igc" && mac(link.permanent_addr).startsWith("84:47:09:43:")
# ---
# apiVersion: v1alpha1
# kind: UserVolumeConfig
# name: local-hostpath
# provisioning:
#   diskSelector:
#     match: disk.model == "HighRel 512GB SSD"
#   minSize: 384GB
