---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:

    controllers:
      main:
        containers:
          main:
            image:
              # renovate: datasource=docker depName=ghcr.io/immich-app/immich-server
              tag: v2.5.0

    immich:
      metrics:
        enabled: true
      persistence:
        library:
          existingClaim: immich-library

    valkey:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: docker.io/valkey/valkey
                tag: 9.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
      persistence:
        data:
          enabled: true
          size: 1Gi
          accessMode: ReadWriteOnce
          storageClass: ceph-block

    server:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: ghcr.io/immich-app/immich-server
              env:
                LOG_LEVEL: verbose
                TZ: Europe/London
                PUBLIC_IMMICH_SERVER_URL: https://immich.judahrand.net
                MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: ViT-SO400M-16-SigLIP2-384__webli
                MACHINE_LEARNING_PRELOAD__CLIP__VISUAL: ViT-SO400M-16-SigLIP2-384__webli
                MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION: buffalo_l
                MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION: buffalo_l
                DB_HOSTNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_HOSTNAME
                DB_USERNAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_USERNAME
                DB_PASSWORD:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_PASSWORD
                DB_DATABASE_NAME:
                  valueFrom:
                    secretKeyRef:
                      name: immich-secret
                      key: DB_DATABASE_NAME
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  memory: 2048Mi
                  squat.ai/dri: 1
      route:
        main:
          hostnames:
            - immich.judahrand.net
          parentRefs:
            - name: envoy-external
              namespace: network
          rules:
            - backendRefs:
              - name: immich-server
                port: 2283

    machine-learning:
      controllers:
        main:
          containers:
            main:
              image:
                # renovate: datasource=docker depName=ghcr.io/immich-app/immich-machine-learning
                tag: v2.5.0-openvino
              env:
                LOG_LEVEL: verbose
                TZ: Europe/London
                MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: ViT-SO400M-16-SigLIP2-384__webli
                MACHINE_LEARNING_PRELOAD__CLIP__VISUAL: ViT-SO400M-16-SigLIP2-384__webli
                MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION: buffalo_l
                MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION: buffalo_l
              resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  memory: 16392Mi
                  squat.ai/dri: 1
      persistence:
        cache:
          enabled: true
          storageClass: ceph-block
          accessMode: ReadWriteOnce
          size: 10G
