---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library
spec:
  capacity:
    storage: 1T
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  nfs:
    path: /mnt/main/immich
    server: truenas.lan
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
spec:
  storageClassName: ""
  volumeName: immich-library
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1T
