---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: kyoo
spec:
  spec:
    devices:
      requests:
        - name: i915
          exactly:
            deviceClassName: gpu.intel.com
