---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant-matter-hub
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    global:
      nameOverride: *app
      fullnameOverride: *app

    controllers:
      home-assistant-matter-hub:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"iot",
                "namespace": "network",
                "ips": ["10.0.60.88/24"],
                "mac": "a0:36:9f:5a:17:7b"
              }]
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
            sysctls:
              - name: net.ipv6.conf.net1.forwarding
                value: "0"
              - name: net.ipv6.conf.net1.accept_ra
                value: "1"
              - name: net.ipv6.conf.net1.accept_ra_rt_info_max_plen
                value: "64"

        containers:
          app:
            image:
              repository: ghcr.io/t0bst4r/home-assistant-matter-hub
              tag: 3.0.0-alpha.84
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: home-assistant-matter-hub-secret
            env:
              HAMH_LOG_LEVEL: info
              HAMH_WEB_PORT: &port 8482
              HAMH_STORAGE_LOCATION: /data
              HAMH_MDNS_NETWORK_INTERFACE: net1
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
                memory: 150M
              limits:
                memory: 500M
    service:
      app:
        controller: *app
        ports:
          http:
            enabled: true
            primary: true
            protocol: TCP
            port: *port

    persistence:
      config:
        existingClaim: home-assistant-matter-hub
        advancedMounts:
          home-assistant-matter-hub:
            app:
              - path: "/data"

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.judahrand.net"
          - matterhub.judahrand.net
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: app
                port: *port
