---
apiVersion: v1
kind: Service
metadata:
  name: immich-database
  annotations:
    external-dns.alpha.kubernetes.io/hostname: immich-database.judahrand.net
    io.cilium/lb-ipam-ips: 10.0.42.129
    gatus.home-operations.com/endpoint: |
      name: immich-database
      group: infrastructure
      url: tcp://immich-database-rw.media.svc.cluster.local:5432
      interval: 1m
      ui:
        hide-url: true
        hide-hostname: true
      conditions:
        - "[CONNECTED] == true"
      alerts:
        - type: pushover
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: immich-database
    cnpg.io/instanceRole: primary
