---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: vertical-pod-autoscaler
  namespace: &namespace goldilocks
spec:
  interval: 1h
  url: https://charts.fairwinds.com/stable
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vertical-pod-autoscaler
  namespace: &namespace goldilocks
spec:
  interval: 30m
  chart:
    spec:
      chart: vpa
      version: 4.10.0
      sourceRef:
        kind: HelmRepository
        name: vertical-pod-autoscaler
        namespace: *namespace
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values: {}
